.three-animation {
   position: relative;
   &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 120px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #1b1b1b;
   }
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 64px;
      padding-top: 54px;
   }

   &__title {
      &::before {
         display: none;
      }
   }

   &__text {
      max-width: 700px;
      span {
         color: $purple;
      }
   }

   &__image {
      max-width: 700px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   @media (max-width: 992px) {
      &__wrapper {
         gap: 24px;
      }
   }
}
