.home-hero {
   text-transform: uppercase;
   position: relative;
   &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #1b1b1b;
      bottom: 130px;
      left: 0;
   }
   &__wrapper {
      padding-top: 160px;
      padding-bottom: 205px;
      padding-left: 70px;
      display: flex;
      flex-direction: column;
      gap: 70px;
      .member {
         bottom: 250px;
         left: calc(100% + 12px);
      }
   }

   &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0.18em;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         display: block;
         height: 107%;
         width: 573px;
         top: 28px;
         left: -230px;
         background: url(../img/icons/home-hero-circles.svg) center / cover
            no-repeat;
      }
      span {
         color: $yellow;
         &::after {
            content: "|";
         }
      }
   }

   &__subtitle {
      position: relative;
      z-index: 1;
      font-size: 24px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0.18em;
   }

   &__footer {
      display: flex;
      gap: 22px;
      padding-left: 120px;
      position: relative;
      z-index: 1;
      button {
         height: 57px;
         font-size: 24px;
         font-weight: 700;
         white-space: nowrap;
         letter-spacing: 0.18em;
         padding: 0 30px;
         transition: 0.3s;
         &.pink {
            background-color: $pink;
            color: white;
            &:hover {
               background-color: white;
               color: $black;
            }
         }
         &.white {
            background-color: white;
            color: $black;
            &:hover {
               background-color: $pink;
               color: white;
            }
         }
      }
   }
   @media (max-width: 1440px) {
      &__wrapper {
         .member {
            left: unset;
            right: 0px;
            bottom: 50px;
         }
      }
   }
   @media (max-width: 992px) {
      &__wrapper {
         padding-left: 0;
         .member {
            right: 12px;
            bottom: 32px;
         }
      }
      &__title {
         font-size: 36px;
         &::before {
            display: none;
         }
      }
      &__footer {
         padding-left: 0;
         flex-wrap: wrap;
         button {
            flex: 1;
            padding-left: 12px;
            padding-right: 12px;
         }
      }
   }
}
